.tour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: white;
}
.tour__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tour__button {
  color: brown;
  border: 1px solid brown;
  transition: 0.3s;
}
.tour__button:hover {
  background-color: brown;
  color: white;
}
